body {
    background-color: antiquewhite;
    /* background-color: #f44336; */
    padding: 30px 40px;
    color: tomato;
    text-align: center;

}


.to-do-list {
    margin-top: 70px;
    height: 100vh;
    text-align: center;

}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
}

.search-box {
    width: 30vw;
    /* height: 60px; */
    background-color: white;
    border: none;
    border-radius: 5px;
    /* font-weight: bold; */
    font-size: 15px;
    padding: 10px;
    /* float: left; */
}

.search-btn {
    
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul li {
    /* display: flex; */
    padding: 10px;
    position: relative;
    list-style-type: none;
    background-color: white;
    width: 600px;
    text-align: left;
    cursor: pointer;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background-color: grey;
    color: #f9f9f9;
}

.close {

    position: absolute;
    right: 0;
    top: 0;
    padding:10px;
    cursor:pointer;

}
.close:hover{
    background-color: tomato;
}